version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    
    

  backend:
    build: ./project/backend
    ports: 
      - "8000:8000"
    env_file:
      - "project/backend/.env"
    depends_on:
      - redis

  frontend:
    build: ./project/frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend